

.container {
    background: white;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    position: relative;
    left: 40%;
    top: 20vh;
    text-align: center;
    background-color: #3bcaf9;
}

.icon {
    font-size: 40px; /* Adjust the size as needed */
    display: inline-block;
    vertical-align: middle; /* Optional: Align with text */
}


h1 {
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    color: #555;
}

input[type="file"] {
    display: block;
    margin: 10px auto;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#response {
    margin-top: 20px;
    color: green;
    font-weight: bold;
}


/* Button styles */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
}

/* Specific colors for download button states */
button#downloadBtn {
    background-color: red; /* Processing state */
    color: white;
}

button#downloadBtn:enabled {
    background-color: green; /* Ready state */
    color: white;
}


/* Navigation Bar */
.navbar {
    background-color: #007bff; /* Blue background */
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-icon {
    height: 30px;
    margin-right: 10px;
}

.navbar-title {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
}

