<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatShare</title>
    <link rel="icon" href="/static/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Exo:400,700" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Merge Your PDFs</h1>
        <form id="pdfForm">
            <label for="pdf1">Choose the first PDF:</label>
            <input type="file" id="pdf1" name="pdf1" accept="application/pdf" required>

            <label for="pdf2">Choose the second PDF:</label>
            <input type="file" id="pdf2" name="pdf2" accept="application/pdf" required>

            <button type="submit">Merge PDFs</button>
        </form>

        <!-- Download button initially hidden -->
        <button id="downloadBtn" style="display: none;">Download Merged PDF</button>
        <div id="response"></div>
    </div>
    <link rel="stylesheet" href="/static/js/script.js">
</body>

</html>